@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <table>
        <tr>
            <td colspan="4"><img src="/images/analyzer-process.jpg"</td>
        </tr>
        <tr>
            <td width="25%" align="center">
                <NavLink class="nav-link" href="template">Template</NavLink>
            </td>
            <td width="25%" align="center">
                <NavLink class="nav-link" href="tester">Tester page</NavLink>
            </td>
            <td width="25%" align="center">
                <NavLink class="nav-link" href="analyzer">Analyzer page</NavLink>
            </td>
            <td width="25%" align="center">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Calculate & Result</NavLink>
            </td>
        </tr>
    </table>


</div>
