@page "/tester/detailacc/{id:int}"
@inject IDeviceService deviceService
@inject IComponentService compService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer

<h3>Device Details </h3>
    <EditForm Model="Device">
        <fieldset disabled="true">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row p-1">
                        <div class="col-4">
                            <label>Name</label>
                        </div>
                        <div class="col-8">
                            <InputText @bind-Value="Device.Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row p-1">
                        <div class="col-4">
                            <label>Total Count</label>
                        </div>
                        <div class="col-8">
                            <InputNumber @bind-Value="Device.TotalCount" class="form-control" />
                            <span asp-validation-for="TotalCount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-4">
                            <label>Tester Time</label>
                        </div>
                        <div class="col-8">
                            <InputNumber @bind-Value="Device.TesterTime" class="form-control" />
                            <span asp-validation-for="TesterTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-4">
                            <label>SN</label>
                        </div>
                        <div class="col-8">
                            <InputText @bind-Value="Device.SN" class="form-control" />
                            <span asp-validation-for="SN" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-4">
                            <label>Model</label>
                        </div>
                        <div class="col-8">
                            <InputText @bind-Value="Device.Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-4">
                            <label>Comments</label>
                        </div>
                        <div class="col-8">
                            <InputTextArea @bind-Value="Device.Comments" class="form-control"></InputTextArea>
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-4">
                            <label>Create Time</label>
                        </div>
                        <div class="col-8">
                            <InputDate @bind-Value="Device.CreateT" class="form-control"></InputDate>
                            <span asp-validation-for="CreateT" class="text-danger"></span>
                        </div>
                    </div>
                    @if (Device.UpdateT != null)
                    {
                        <div class="form-group row p-1">
                            <div class="col-4">
                                <label>Update Time</label>
                            </div>
                            <div class="col-8">
                                <InputDate @bind-Value="Device.UpdateT" class="form-control"></InputDate>
                                <span asp-validation-for="UpdateT" class="text-danger"></span>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-6">
                    @if (Acc.Count > 0)
                    {
                        <h3>Device Accessories </h3>
                        <div class="form-group row p-1">                            
                            <div class="col-4"><label>Name</label></div>
                            <div class="col-2"><label>Price</label></div>
                            <div class="col-2"><label>Q-ty</label></div>
                        </div>

                        @foreach (var t in Acc)
                        {
                            <div class="form-group row p-1">
                                <div class="col-4">
                                    @{
                                        var componentId = t.ComponentId;
                                        var compName = CompList.FirstOrDefault(u => u.Id == componentId).Name;
                                    }
                                    <label>@compName <span style="font-size:x-small">(@componentId)</span></label>
                                </div>
                                <div class="col-2">
                                    <label>@t.Value</label>
                                </div>
                                <div class="col-2">
                                    <label>@t.Qty</label>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </fieldset>

        <br />
        <button @onclick="GoToEdit" class="btn btn-warning">
            <span class="oi oi-pencil"></span>
            Edit Device
        </button>
        <button @onclick="GoToAddAcc" class="btn btn-warning">
            <span class="oi oi-pencil"></span>
            Add Accessories
        </button>
        <button @onclick="BackToList" class="btn btn-outline-secondary">
            <span class="oi oi-media-skip-backward"></span>
            Back To List
        </button>
    </EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Device Device = new Device();
    private List<DeviceComponent> Acc = new();
    private List<Component> CompList = new();
    protected async override Task OnInitializedAsync()
    {
        var responses = await deviceService.Get(id);
        if (responses.Success)
        {
            Device = responses.Data;
        }
        Acc = await deviceService.GetDevComp(id, ComponentType.Accessories);
        CompList = await compService.Get();

    }
    private void GoToEdit()
    {
        navManager.NavigateTo($"/tester/update/{Device.Id}");
    }
    private void GoToAddAcc()
    {
        navManager.NavigateTo($"/tester/addacc/{Device.Id}");
    }
    private void BackToList()
    {
        navManager.NavigateTo("/tester/");
    }

}
