@page "/analyzer/parts/{id:int}"
@inject IDeviceService deviceService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer

    <h3>Device Parts</h3>

@code {
    [Parameter]
    public int id { get; set; }
    private Device Device = new();
    protected async override Task OnInitializedAsync()
    {
        var deviceResponse = await deviceService.GetForUpdate(id);
        if (deviceResponse.Success)
        {
            Device = deviceResponse.Data;
        }
    }
    private async Task HandleDeviceParts()
    {
        var response = await deviceService.Edit(id, Device);
        if (response.Success)
        {
            BackToList();
        }
    }

    private void BackToList()
    {
        navManager.NavigateTo("/analyzer/");
    }

}
